* text=auto

*.py text eol=lf
*.html text eol=lf linguist-vendored
*.css text eol=lf linguist-vendored
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf

Makefile text eol=lf linguist-vendored
Dockerfile text eol=lf linguist-vendored

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.gz binary
